
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

.top-bar {
    background-color: black;
    margin-bottom: 20px;
    width: 100%;
}

.top-bar-title {
    color: white;
}

.title {
    font-size: 30px;
    color: black;
}

.login-btn {
    margin-top: 20px;
}

.btn-add-item {
    margin-left: 20px;
}
